streamlit
streamlit-option-menu
streamlit-lottie
streamlit-extras
streamlit-custom-notification-box
python-docx
pandas
plotly
pillow
pycryptodome
python-dotenv
pdfminer.six
nltk
scikit-learn
pymongo
dnspython
openpyxl
requests
spacy
pypdf
numpy
google-generativeai
pdfplumber
reportlab
docx2txt
python-pptx
matplotlib
seaborn
PyPDF2